body{
font-family: 'Times New Roman', Times, serif;
margin:40px;
background:white;
}

h2{
color:black;
}

input{
padding: 10px;
margin:5px;
}

button{
padding:6px 10px;
margin:5px;
cursor:pointer;
}

#card{
width:300px;
padding:20px;
margin-top:20px;
border-radius:10px;
background:white;
box-shadow:10px gray;
background-color: silver;

display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
text-align:center;
}

#card h3{
margin-top:0;
}

#hobbyList li{
margin:5px 0;
}

.errHobby{
    color: red;
}